:root {
    --bg-primary: #f5f5fa;
    --bg-secondary: #fff;

    --color-primary: rgb(0, 140, 255);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

html,
body {
    background: var(--bg-primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    --pad: 1rem;

    display: flex;
    flex-direction: column;
    gap: var(--pad);
    min-height: 100dvh;
    max-width: 450px;
    margin: 0 auto;
    padding-bottom: var(--pad);
    
    
    & .number {
        --fg: #000;
        --bg: var(--bg-primary);
        
        cursor: pointer;
        aspect-ratio: 1 / 1;
        width: 100%;
        height: auto;
        display: grid;
        place-items: center;
        border-radius: 100vh;
        font-weight: 500;
        color: var(--fg);
        background: var(--bg);
        /* box-shadow: 0 0 1.5rem -.5rem #aaad; */
        
        &.selected {
            color: var(--bg);
            background: var(--fg);
        }
    }
    
    & > #grid {
        display: grid;
        padding: var(--pad);
        margin-top: auto;
        background: var(--bg-secondary);
        border-radius: calc(var(--pad) * 2);
        gap: var(--pad);
        box-shadow: 0 0 1.5rem -.5rem #aaa3;


        &::before {
            content: '';
            position: absolute;
            width: 35px;
            height: .25rem;
            background: #ddd;
            border-radius: 100vh;
            top: calc(var(--pad) * .5 - .125rem);
            left: 50%;
            transform: translateX(-50%);
        }

        & > :first-child {
            display: flex;
            align-items: center;


            & > h1 {
                font-size: 1.25rem;
                font-weight: 500;
                margin-left: .25rem;
            }

            & > #randomBtn {
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: calc(var(--pad) * .325);
                margin-left: auto;
                width: fit-content;
                height: 2.25rem;
                padding: 0 var(--pad);
                padding-left: .625rem;
                border-radius: 100vh;
                background: var(--bg-secondary);
                font-family: inherit;
                /* font-weight: 500; */
                color: #aaa;
                fill: var(--color-primary);

                & svg {
                    height: 50%;
                    animation: none;
                }

                &:hover {
                    color: #999;
                    background: var(--bg-primary);


                    & svg {
                        animation: rotateSVG 1s linear infinite;
                    }
                }
            }
        }

        & > *:not(:first-child) {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            align-items: center;
            justify-items: center;
            gap: calc(var(--pad) * .75) calc(var(--pad) * .5);
        }

        & .number {
            font-size: .875rem;
        }
    
        & > #numbers {
    
            & .number {
                --fg: var(--color-primary);
            }
        }

        & > #luckyNumber {
            margin-top: calc(var(--pad) * .5);

            & .number {
                --fg: red;
                --bg: #faf5f5;
            }
        }
    }

    & > #submitBtn__container {
        display: flex;
        align-items: center;
        gap: var(--pad);
        overflow: hidden;


        &.validated {
            & > #submitBtn {
                width: 100%;

                & > svg {
                    display: none;
                }

                & > :last-child {
                    display: flex;
                }
            }

            & > p {
                width: 0;
            }
        }

        & > p {
            width: 100%;
            transition: all 250ms ease-in-out;
            white-space: nowrap;
            color: #777;
            opacity: 1;
        }
        
        & > #submitBtn {
            --size: 3.5rem;
            --svgSize: 1.5rem;
            --bg: #000;

            flex-shrink: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: left;
            padding: calc((var(--size) - var(--svgSize)) * .5);
            gap: calc((var(--size) - var(--svgSize)) * .5);
            width: var(--size);
            /* width: fit-content; */
            height: var(--size);
            border-radius: 100vh;
            background: var(--bg);
            color: #fff;
            font-size: 1rem;
            overflow: hidden;
            transition: all 250ms ease-in-out;
    
    
            & * {
                flex-shrink: 0;
            }
        
            & svg {
                display: unset;
                height: 1.5rem;
                fill: #fff;
            }
    
            & > div {
                display: none;
                align-items: center;
                gap: calc((var(--size) - var(--svgSize)) * .5);
                margin: 0 auto;


                & > span {
                    text-wrap: nowrap;
                }
            }
        }
    }
}


@keyframes rotateSVG {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}